{% extends "_layout" %}


{% block content %}
  <div clas="container">
    <div class="row">
        <h1 class="text-4xl text-black font-display my-4">{{ entry.title }}</h1>

        <p>{{ entry.bodyContent }}</p>
      </div>
    </div>
</div>
{% endblock %}